/* Normal layout: > 640px */
body {
  width: 920px;

  margin: 0 auto;

  background-color: #eee;

  font-size: 0;
}

body > * {
  font-size: 14px;
}

#menu, #posts, #news {
  @include inline-block;

  vertical-align: top;
}

#menu, #posts {
  margin: 0 10px 10px 0;
}

#main {
  
}

#menu {
  width: 200px;

  background-color: green;
}

#posts {
  width: 500px;

  background-color: red;
}

#news {
  width: 200px;

  background-color: yellow;
}

/* Mobile layout: 320px - 640px */
@media only screen and (max-width: 640px) {
  
}