/* Normal layout: > 640px */
body {
  width: 920px;

  margin: 0 auto;

  background-color: #eee;
}

#menu, #posts, #news {
  @include inline-block;
}

#main {
  
}

#menu {
  width: 200px;

  background-color: green;
}

#posts {
  width: 480px;

  background-color: red;
}

#news {
  width: 200px;

  background-color: yellow;
}

/* Mobile layout: 320px - 640px */
@media only screen and (max-width: 640px) {
  
}