/* Normal layout: > 640px */
body {
  width: 920px;
  margin: 0 auto; }

#main {
  background-color: blue; }

#menu {
  background-color: green; }

#posts {
  background-color: red; }

#news {
  background-color: yellow; }

/* Mobile layout: 320px - 640px */
