#menu {
  border-bottom: 3px solid #0154a7;

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      a {
        display: block;

        padding: 4px 10px;

        color: #99958d;
        text-decoration: none;
      }
    }
  }
}