#posts {
  background-color: #fff;

  article {
    margin-bottom: 2em;

    h2 {
      margin: 0 0 0.8em 0;
    }

    p {
      color: #3f3f3f;
    }

    p, footer time {
      font-size: 13px;
    }

    footer {
      border: {
        top:    1px solid #ccc;
        bottom: 3px solid #0154a7;
      }

      time {
        color: #7a7a7a;
      }
    }
  }
}